<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>File Explorer App</h1>
    <p>Type a filepath below to inspect contents</p>
    <form action="/execute" method="post">
        <input type="text" name="filepath">
        <input type="submit" value="Execute">
    </form>
    <p><%= filepath %></p>
    <ul>
        <% stdout.forEach(f => { %>
            <li><%= f %></li>
        <% }) %>
    </ul>
</body>
</html>